.VSCodeCounter/
.nuget/
Dist/
Logs/
bin/
obj/

*.DotSettings.user
*.csproj.user
*.log
tempkey.jwk

appsettings.Local.json
/.vscode
/Src/.vs/DiaB
/Src/DiaB.WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/Src/DiaB.WebApi/Properties/PublishProfiles/FolderProfile.pubxml

Src/.idea/
