@model DiaB.IdentityServer.Models.ChangePasswordRequest

<div class="col-sm-12 col-md-12 col-lg-9 mx-auto">
    <div class="login-page-container__login-form">
        <img src="~/logo.png" class="logo-form mb-6 mx-auto" />
        <form class="form-horizontal" asp-route="ChangePassword">
            <div class="form-group">
                <label class="col-sm-12 control-label text-left"
                       style="display: flex; align-items: center; justify-content: center;">
                    <h3 class="mx-auto">Thay đổi mật khẩu</h3>
                </label>
                <div class="col-sm-12 text-center">
                    <san class="d-block font-weight-light"> Tiến hành đặt lại mật khẩu mới</san>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label text-left" asp-for="CurrentPassword">
                    <span>Mật khẩu cũ:</span>
                </label>
                <div class="col-sm-12">
                    <input type="password" class="form-control " id="current-pwd" asp-for="CurrentPassword" autocomplete="off">
                    <span asp-validation-for="CurrentPassword" class="glyphicon glyphicon-remove form-control-feedback text-danger"></span>
                    @if (ViewBag.IncorrectPassword != null && ViewBag.IncorrectPassword)
                    {
                        <span class="form-control-feedback text-danger">Mật khẩu cũ không đúng</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label text-left" asp-for="NewPassword">
                    <span>Mật khẩu mới:</span>
                </label>
                <div class="col-sm-12">
                    <input type="password" class="form-control " id="new-pwd" asp-for="NewPassword" autocomplete="off">
                    <span asp-validation-for="NewPassword" class="glyphicon glyphicon-remove form-control-feedback text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label text-left" asp-for="RepeatPassword">
                    <span>Xác nhận lại mật khẩu mới:</span>
                </label>
                <div class="col-sm-12">
                    <input type="password" class="form-control " id="repeat-pwd" asp-for="RepeatPassword" autocomplete="off">
                    <span asp-validation-for="RepeatPassword" class="glyphicon glyphicon-remove form-control-feedback text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" name="button" value="login">
                    <img alt="Login Image" src="~/log-in.png" class="login--icon" />Lưu mật khẩu mới và đăng nhập
                </button>
            </div>
        </form>
    </div>
    <br/>
    <p class="position-absolute copy-right">Tổng đài hỗ trợ: @ViewBag.HotLine. © Copyright 2020 - Toàn bộ bản quyền thuộc về DiaB</p>
</div>
