@model DiaB.IdentityServer.Models.ResetPasswordEmailModel

<div class="col-sm-12 col-md-12 col-lg-9 mx-auto">
            <div class="login-page-container__login-form">
                <img src="~/logo.png" class="logo-form mb-6 mx-auto" />
                <form class="form-horizontal" asp-route="ForgetPassword">
                    <div class="form-group">
                        <label class="col-sm-12 control-label text-left"
                               style="display: flex; align-items: center; justify-content: center;">
                            <h3 class="mx-auto">Quên Mật Khẩu</h3>
                        </label>
                        <div class="col-sm-12 text-center">
                            <span class="d-block font-weight-light">
                                Nhập email tài khoản mà bạn đã sử dụng.
                            </span>
                            <san class="d-block font-weight-light">  Chúng tôi sẽ gửi lại mật khẩu mới cho bạn</san>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <input type="email" class="mb-3 form-control form-control-md" id="pwd" asp-for="Email" autocomplete="off">
                            <span asp-validation-for="Email" class="text-danger align-content-center"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        @if (ViewContext.ModelState["EmailNotFound"] != null)
                        {
                            <p class="text-danger">Chúng tôi không tìm thấy email của bạn.</p>
                        }
                        <button class="btn btn-primary btn-lg py-2 px-6" name="button" value="login">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Lấy lại mật khẩu mới
                        </button>
                    </div>
                        <p class="control-label mt-6">     <a class="btn btn-link text-center mx-auto" href="login"><i class="fa fa-arrow-left" aria-hidden="true"></i> Trở về trang đăng nhập</a> </p>
                </form>
                <p class="position-absolute copy-right">Tổng đài hỗ trợ: @ViewBag.HotLine. © Copyright 2020 - Toàn bộ bản quyền thuộc về DiaB</p>
            </div>
        </div>