
<!--<div class="col-sm-12 col-md-12 col-lg-9 mx-auto">
    <div class="login-page-container__login-form">
        <img src="~/logo.png" class="logo-form mb-6 mx-auto" />
        <form class="form-horizontal" asp-route="Login">

            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label class="col-sm-12 control-label text-left" asp-for="Username" style="display: flex; align-items: center; justify-content: center;">
                    <h3 class="mx-auto">Quên Mật Khẩu</h3>
                </label>
                <div class="col-sm-12 text-center">
                    <san class="d-block font-weight-light">  Mật khẩu mới đã được gởi đến email <b>tranquocviet@gmail.com</b>, hãy nhập mật khẩu mới để đăng nhập vào hệ thống</san>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control " id="pwd" asp-for="Password" autocomplete="off">-->
                    @*<span class="glyphicon glyphicon-remove form-control-feedback"></span>*@
                <!--</div>
            </div>
            <div class="form-group text-center">
                @if (ViewContext.ModelState.IsValid == false)
                {
                    <p class="text-danger">Mật khẩu không chính xác.</p>
                }
                <button class="btn btn-primary" name="button" value="login">
                    <img alt="Login Image" src="~/log-in.png" class="login--icon" />Đăng nhập
                </button>
            </div>
        </form>
    </div>
    <p class="position-absolute copy-right">Tổng đài hỗ trợ: @ViewBag.HotLine. © Copyright 2020 - Toàn bộ bản quyền thuộc về DiaB</p>
</div>-->
