packages/
obj/
bin/
.nuget/
.vs/
*.log
Logs/
*.DotSettings.user
*.csproj.user
/DiaB.IdentityServer/Properties/PublishProfiles/FolderProfile.pubxml
/DiaB.IdentityServer/Properties/PublishProfiles/FolderProfile.pubxml.user

.idea/
