@font-face {
 font-family: 'Inter';
  src: url('../fonts/Inter/static/Inter-Medium.ttf')
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body,
html {
 width: 100%;
 height: 100%;
 font-family: 'Inter', sans-serif;
}

body {
 background-color: #FFFFFF;
}

.login-page-container {
    width: 100%;
    height: 100%;
    position: relative;
}


.login-page-container__images {
 position: absolute;
}

.slogans--image,
.background--image,
.doctors--image {
 display: none;
}

.login-page-container__login-form {
 padding: 25px;
 margin-top: 35%;
 display: flex;
 flex-direction: column;
 -ms-align-items: center;
 -o-align-items: center;
 -webkit-align-items: center;
 align-items: center;
 -o-justify-content: center;
 -webkit-justify-content: center;
 justify-content: center;
}

 .login-page-container__login-form > img {
  margin-bottom: 22px;
 }

 .login-page-container__login-form > form {
  width: 100%;
  max-width: 450px;
 }

.control-label {
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 19px;
 color: #515356;
}

.form-control {
 background: #FCFCFC;
 border: 1px solid #E4E6EF;
 box-sizing: border-box;
 transform: matrix(1, 0, 0, 1, 0, 0);
 margin-top: 9px;
}


.control-label {
 display: flex;
 -o-justify-content: space-between;
 -webkit-justify-content: space-between;
 justify-content: space-between;
 -ms-align-items: center;
 -o-align-items: center;
 -webkit-align-items: center;
 align-items: center;
}


 .control-label > a {
  color: #407BFF;
  font-size: 13px;
  text-decoration: none;
 }

.btn:active:focus {
 outline: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
    background: #01645A !important;
    font-size: 14px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.btn-primary:hover {
    background: #01645A !important;
}

.btn-primary {
    background: #01645A;
}

.copy-right {
    bottom: 0;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%);
}

@media all and (min-width: 1170px) {

 .login-page-container > .row {
  -o-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
 }

 .login-page-container__login-form {
  margin-top: 15%;
 }

 .slogans--image,
 .background--image,
 .doctors--image {
  display: block;
 }

 .background--image {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
 }

 .doctors--image {
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding-left:0;
 }

 .slogans--image {
  left: 2%;
  top: 20%;
  z-index: 1;
 }


 .background--image {
  width: 100%;
  height: auto;
 }

 .login--icon {
  margin-right: 12px;
 }
}
